*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
/* utility */
.float_left{
  float: left;
}

.float_right{
}

.bgc_blue{
  background-color: #0C325A;
}

.bgc_green{
  background-color: #7CBB02;
}

.bgc_grey{
  background-color: #D3D3D3;
}
 /* /utility */

.container{
  width: 100%;
  height: 450px;
  margin: auto;
}

/* header top */
.nav_bar{
  height: 80px;
  line-height: 80px;
}

.nav_left{
  width: 15%;
  padding-top: 8px;
}

.nav_center{
  width: 55%;
}

.nav_right{
  width: 30%;
}

.nav_bar:after{
  content: "";
  display: table;
  clear: both;
}

.nav_center > a{
  padding-left: 15px;
}

/* header center */

.header_container{
  color: white;
  position: relative;
  width: 90%;
  margin-left: 10%;
  height: 470px;
  background-image: url(../img/banner_header.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 106% 50%;
}

.titolo_header{
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 50%;
}
.header_container a{
  color: white;
  text-decoration: none;
}

.row_grey{
  height: 80px;
  width: 100%;
  position: absolute;
  top: 370px;
}

.central_text{
  text-align: center;
  margin-top: 14px;
}

h3{
  color: grey;
}

main{
  height: 1000px;
}

.main_container{
  width: 80%;
  margin: auto;
}

.main_top_row:after{
  content: "";
  display: table;
  clear: both;
}

.col_top{
  text-align: center;
  width: 33.3%;
  padding: 10px 50px;
}

.main_top_row img{
  width: 100%;
}

.col_top h2{
  color: #7CBB02;
  margin-bottom: 20px;
}

.col_top p{
  color: grey;
  margin: 20px 0;
}

.col_top hr{
  width: 70px;
  margin: auto;
}

.main_container hr{
  color: grey;
}


footer{
  height: 150px;
}
